.App {
  font: italic 1.2em "Fira Sans", serif;
  background-color: #e0a4e4;
  min-height: 100vh;
}

.App-header {
  /* background-color: #282c34; */
  vertical-align: text-top;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}


